table {
  border: 1px solid #666;   
    width: 90%; 
    margin-left: 80px;
    margin-right: 30px;

}
th {
  background: lightgrey; 
  font-weight: bold;    
    padding: 5px;
    text-align: left;
    
}
