{% extends "layout.html" %}
{% block body %}
<html>
<head>
</head>
<body>
<div class="container">
  
<div id="campaign">
<h4 align="center"><u>New Campaign For Mobile/WEB</u></h4><br><br>

<form action="" method=post class="form-horizontal" >

<!-- Form Name -->

<!-- Text input-->

<div class="form-group row-fluid">
  <label class="col-md-3 control-label"  style="text-align:left";>Campaign Name :</label>
  <div class="controls">
    <input id="campaign_name" name="campaign_name" type="text" class="col-md-3"  required/>
    <p class="help-block"></p>
  </div>
</div>

<!-- Text input-->
<div class="form-group row-fluid" id="calender">
  <label class="col-md-3 control-label" style="text-align:left";>Start Date : </label>
  <div class="controls">
    <input id="start_date" name="start_date" type="date" class="col-md-3">
  </div>
</div>

<!-- Text input-->
<div class="form-group row-fluid">
  <label class="col-md-3 control-label" style="text-align:left";>End Date : </label>
  <div class="controls">
    <input id="end_date" name="end_date" type="date" class="col-md-3">
  </div>
</div>

<div class="form-group row-fluid">
  <label class="col-md-3 control-label" style="text-align:left";>Budget : </label>
  <div class="controls">
    <input id="budget" name="budget" type="text" class="col-md-3" required/>
     <p class="help-block"></p>
  </div>
</div>

<div class="form-group row-fluid">
  <label class="col-md-3 control-label" style="text-align:left";>Frequency cap : </label>
  <div class="controls">
    <input id="frequency_cap" name="frequency_cap" type="text" class="col-md-3" required/>
     <p class="help-block"></p>
  </div>
</div>
</br>
 

<h4><u>Target Segments:By Demographic(Registered User's)</u></h4></fieldset><br>
<div class="row"> 
     
     <div class="col-md-2">
    <label id="gender"> Gender </label>
    <div class="item">
    <input type="radio" name="gender" value="male">Male<br>
    <input type="radio" name="gender" value="female">Female
    </div>
</div>
    
    <div class="col-md-2">    
   <label id="income"> Income </label>
    <div class="item">
    <input type="radio" name="income" value="Low">Low<br>
    <input type="radio" name="income" value="Medium">Medium<br>
    <input type="radio" name="income" value="High">High<br>
</div>
</div>
 
<div class="col-md-2">    
<label id="agegroup"> Age Group </label>
    <div class="item">
    <input type="radio" name="agegroup" value="Child">Child<br>
    <input type="radio" name="agegroup" value="YoungAdult">YoungAdult<br>
    <input type="radio" name="agegroup" value="Adult">Adult<br>
    <input type="radio" name="agegroup" value="Senior">Senior<br>
</div>
</div>
       
 <div class="col-md-2">   
<label id="occupation"> Occupation </label>
    <div class="item">
    <input type="radio" name="occupation" value="Student">Student<br>
    <input type="radio" name="occupation" value="Self employee">Self employee<br>
    <input type="radio" name="occupation" value="Employee">Employee<br>
    <input type="radio" name="occupation" value="Retired">Retired<br>
</div>
</div>
   
 
 <div class="col-md-2"> 
<label id="race"> Race </label>
    <div class="item">
    <input type="radio" name="race" value="white">Asian<br>
    <input type="radio" name="race" value="white">White<br>
</div>
 </div>
 </div>
 </br>

<h4><u>Target In-Store Vistors By RFM</u></h4></br>
<div class="row"> 
<div class="form-group row-fluid">
  <label class="col-md-2 control-label"  style="text-align:left";>Recency : </label>
  <div class="controls">
<select id="recency" name="recency">
            <option value="-1" selected>select one</option>
      <option id="recency">less than 30 days</option>
      <option id="recency">30-90 days</option>
      <option id="recency">90-180 days</option>
      <option id="recency">180-365 days</option>
    </select>
  </div>
</div>
    
  <div class="form-group row-fluid">
  <label class="col-md-2 control-label"  style="text-align:left";>Frequency : </label>
  <div class="controls">
<select id="frequency"  name="frequency">
            <option value="-1" selected>select one</option>
      <option id="frequency">less than 5</option>
      <option id="frequency">5-10</option>
      <option id="frequency">greater than 10</option>
    </select>&nbsp
    <label  placeholder="last 12 months">(last 12 months)</label><br>
  </div>
</div>

<div class="form-group row-fluid">
  <label class="col-md-2 control-label"  style="text-align:left";>Monthly : </label>
  <div class="controls">
<select id=" monthly_income"  name="monthly_income">
            <option value="-1" selected>select one</option> 
      <option id=" monthly_income">low</option>
      <option id=" monthly_income">medium</option>
      <option id=" monthly_income">high</option>
    </select>
  </div>
</div>


<div class="form-group row-fluid">
  <label class="col-md-2 control-label"  style="text-align:left";>Target Visitor Of Network </label>
  <div class="controls">
<select id="target_visitor"  name="target_visitor">
            <option value="-1" selected>select one</option>
      <option id="target_visitor">Any Vistors</option>
      <option id="target_visitor">Above Settings</option>
    </select>
  </div>
</div>

<div class="form-group row-fluid">
  <label class="col-md-2 control-label"  style="text-align:left";>Distance Range  : </label>
  <div class="controls">
<select id="distance_range"  name="distance_range">
            <option value="-1" selected>select one</option>
      <option id="distance_range">Within The 10 Miles</option>
      <option id="distance_range">Above The 10 Miles</option>
    </select>
  </div>
</div></br>

</div></br>


<h4><u>Media For Pushing to The Target Users</u></h4></br>
<div class="row">
<div class="form-group row-fluid">
  <label class="col-md-2 control-label"  style="text-align:left";>Mobile SMS :</label>
  <div class="controls">
    <input id="mobile_sms" name="mobile_sms" type="text" class="col-md-3"  required/>
    <p class="help-block"></p>
  </div> 
</div>

  <div class="form-group row-fluid">
  <label class="col-md-2 control-label"  style="text-align:left";>Mobile/WEB Banner :</label>
  <div class="controls">
    <input id="banner" name="banner" type="text" class="col-md-3"  required/>
    <p class="help-block"></p>
  </div>
</div>

<div class="form-group row-fluid">
  <label class="col-md-2 control-label"  style="text-align:left";>Mobile/WEB Video :</label>
  <div class="controls">
    <input id="video" name="video" type="text" class="col-md-3"  required/>
    <p class="help-block"></p>
  </div>
</div>
</div> 
</br>
</div>



<div class="row">
        <div class="col-md-3">
        <button type="submit" class="btn btn-success" >SaveUser</button>
        <button type="reset" class="btn btn-success" >Cancel</button>
</div>
</div>
</div>
</div>
</form>
</body>
</html>
{% endblock %}