<html>
<script src="http://code.jquery.com/jquery-latest.min.js"
	type="text/javascript"></script>
<script>
	$(function() {
		$('div.mytree div:has(div)').addClass('parent');
		$('div.mytree div').click(function() {
			var thistree = $(this);
			thistree.children('div').toggle();
			thistree.filter('.parent').toggleClass('expanded');
			return false;
		});
	});
</script>
<style>
div.mytree div {
	padding-left: 20px;
	background: transparent url(http://www3.telus.net/jianlu58/bullet.gif)
		no-repeat top left;
}

div.mytree div.parent div {
	display: none;
	cursor: default;
}

div.mytree div.parent {
	cursor: pointer;
	background: transparent url(http://www3.telus.net/jianlu58/plus.gif)
		no-repeat top left;
}

div.mytree div.expanded {
	background: transparent url(http://www3.telus.net/jianlu58/minus.gif)
		no-repeat top left;
}

</style>



<div class="mytree"
	style="padding-left: 25px; padding-right: 30px; border: 2px solid #ccc;">
	<table class="sidebysidecomparison" width="120%" border="0" cellspacing="0" cellpadding="5" >
		
		<tr>
			<td >Name</td>
			<td>Impression</td>
			<td>Clicks</td>
			<td>Clicks-Through Ratio</td>
			
		</tr>
		<tr>
		     <td>
				<div>
					Campaign Name 1
					<div>Banner</div>
					<div>Mobile</div>
					<div>SMS</div>
				</div>
				<div>
					Campaign Name 2
					<div>Banner</div>
					<div>Mobile</div>
					<div>SMS</div>
				</div>
				<div>
					Campaign Name 3
					<div>Banner</div>
					<div>Mobile</div>
					<div>SMS</div>
				</div>
				<div>
					Campaign Name 4
					<div>Banner</div>
					<div>Mobile</div>
					<div>SMS</div>
				</div>
				<div>
					Campaign Name 5
					<div>Banner</div>
					<div>Mobile</div>
					<div>SMS</div>
				</div>
			</td>
			
		</tr>


	</table>
</div>

<div>
<table class="table table-hover">
      <tr>
        <th>name
        <th>count
   {%- for result in resultlist %}
      <tr>
        <td>{{ result[0] }}
        <td>{{ result[1] }}
    {%- endfor %}
    </table>
</div>

</html>
