<!-- Annotated javascript available at http://enja.org/code/tuts/d3/bar -->
<!-- Code walkthrough screencast available at -->
<html>
  <head>    
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <h1>Hello world</h1>
    </head>
  <body>
<table class="table table-hover">
      <tr>
        <th>Age_group
        <th>count
   {%- for result in resultlist %}
      <tr>
        <td>{{ result[0] }}
        <td>{{ result[1] }}
    {%- endfor %}
    </table>
  </body>
 </html>


