<html>
<head>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
 <script src="/static/js/list.js" type="text/javascript"></script>
 <link rel="stylesheet" type="text/css" href="/static/css/camp_table.css">
</head>
<body>
<div id="placeholder">
<form class="form-horizontal" name="myForm">
      <div class="row">
       <br><br>
       <div class="col-md-3" style="text-align:center">
       <select id="CamapignList" name="CamapignList" >
       </select>
          <input id="start_date" name="start_date" value="start date" type="date" class="col-md-2">
          <input id="end_date" name="end_date" value="end date" type="date" class="col-md-2">
        </div>
          </div>
          <br>
          <br>
      
</div>

<script language="javascript" >

 $(document).ready(function(){

var jsonSource = '[{"NAME":"Today","ID":812,"today":"tod"},{"NAME":"last week","ID":816,"lastweek":"week"},{"NAME":" last monthly","ID":811,"month":"mon"},{"NAME":"last year","ID":813,"month":"year"}]';

var items = JSON.parse(jsonSource);

console.log(items);
var $selectElement = $("#CamapignList");

$(items).each(function(){
    var newOption = '<option value="' + this.ID + '">' + this.NAME + '</option>';
    $selectElement.append(newOption);
    });
 });


 var data = {{resultdata|tojson|safe }};
 console.log(data);

 document.writeln("<table border='0'>");
       document.writeln("<tr>");  
        document.writeln("<th>Campiagn Name</th>");
        document.writeln("<th>Impressions</th>");
        document.writeln("<th>Clicks</th>");
        document.writeln("<th>Ratio</th>");
        document.writeln("</tr>"); 
 
var campaignName = "";
   for (var i in data.resp) { 
     if(campaignName != data.resp[i].campaign_name)
    {
      document.writeln("<tr>");  
      document.writeln("<td>");
      document.writeln("<ul id=\"tree\" class=\"tree root-level\" role=\"tree\" aria-labelledby=\"label_1\">");
      document.writeln("<li class=\"tree-parent\" role=\"treeitem\" tabindex=\"0\" aria-expanded=\"true\"><span>" + data.resp[i].campaign_name + "</span>"); 
      document.writeln("<ul>");
      document.writeln("<li>" + data.resp[i].assert_type + "</li>");
      document.writeln("<td>" + data.resp[i].asserts_clicks + "</td>");
      document.writeln("<td>" + data.resp[i].asserts_views + "</td>");
      document.writeln("<td>"+ data.resp[i].asserts_clicks/data.resp[i].asserts_views+"</td>");
      document.writeln("</tr>");  
      campaignName = data.resp[i].campaign_name;
      console.log("Not same");
    }
    else {
      
      function callthisfunction(data)
     {
      document.writeln("<li>" + data.resp[i].assert_type + "</li>");
      document.writeln("<td>" + data.resp[i].asserts_clicks + "</td>");
      document.writeln("<td>" + data.resp[i].asserts_views + "</td>");
      document.writeln("<td>"+ data.resp[i].asserts_clicks/data.resp[i].asserts_views+"</td>");
      // document.writeln("<li>" + data.resp[i].asserts_clicks + "</li>");
      // document.writeln("<li>" + data.resp[i].asserts_views + "</li>");
      // document.writeln("<li>"+ data.resp[i].asserts_clicks/data.resp[i].asserts_views+"</li>");
      document.writeln("</ul>");
      document.writeln("</li>");
      document.writeln("</ul>");
      document.writeln("</td>");
      console.log("same");
    }
  }
     }
     
      
     // document.writeln("</td>");
     // document.writeln("</tr>");
     document.writeln("</table>");

</script>
</head>
<body>
</body>

</html>