{% extends "layout2.html" %}
{% block body %}
<div id="main" class="container">
  

   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
    
    
    
    <h1 style='font-size:3em;'>RealEstateShares  | Webservices & API Endpoints</h1>
   <div style="margin-top:5px; padding:10px; background:rgba(251, 199, 35,0.5);width:90%;">
	   <a href='/newBanker'>Add Banker</a><br/>
     <a href='/showbankers'>Show Bankers List</a>
    <!-- {% if userobj.data['name'] %} -->
      <a>{{ userobj.data['name'] }} </a>
      <a>{{ title }} </a>
    <!-- {% else %} -->
        <div>Duffur</div>
    <!-- {% endif %} -->
	</div>
  <div style="margin-top:5px; padding:10px; background:rgba(251, 199, 35,0.5); width:90%;">
     <a href='/newUser'>Add User</a><br/>
     <a href='/showusers'>Show Users List</a>
  </div>

   
   <hr/>
    <p class="table table-hover">
    API Version: <b>0.1</b>, <br/>
    Public Release: <b>No</b> <br/>
    Mode: <b>Test</b> <br/>
	</p>
  
</div>
{% endblock %}

