{% extends "layout2.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Add an Asset</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="assetUrl" name="assetUrl" class="input-xlarge"
            placeholder="Please enter Asset URL" value="{{ request.form.asset_url }}"
            required>
        </div>
    </div>

      <div class="control-group">
        <div class="controls">
          <textarea name="assetDesc" rows=3 class="input-xlarge" placeholder="Please enter Description " required>{{ request.form.asset_desc }}</textarea>
        </div>
    </div>

        <div class="control-group">
        <div class="controls">
          <select class="selectpicker" value="{{ request.form.asset_type }}" name="assetType" id="assetType">
            <option value="I">Image</option>
            <option  value="D">Document</option>  
            <option  value="V">Video</option>  
          </select>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Save</button>
          <a href="/showassets/{{property_id}}">Back to list</a>
        </div>
    </div>


  </form>
{% endblock %}
