{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Add a Banker</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="bankName" name="bankName" class="input-xlarge"
            placeholder="Please type the name of Bank" value="{{ request.form.title }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <textarea name="url" rows=2 class="input-xlarge" placeholder="url of Bank Logo " required>{{ request.form.url }}</textarea>
        </div>
    </div>

     <div class="control-group">
        <div class="controls">
          <textarea name="bank_desc" rows=2 class="input-xlarge" placeholder="desc of the bank " required>{{ request.form.bank_desc }}</textarea>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Save Banker</button>
          <a href="{{ url_for('showbankers') }}">Back to list</a>
        </div>
    </div>
  </form>
{% endblock %}
