{% extends "layout2.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Add a Property</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="property_nm" name="property_nm" class="input-xlarge"
            placeholder="Please enter property name" value="{{ request.form.property_nm }}"
            required>
        </div>
    </div>

      <div class="control-group">
        <div class="controls">
          <textarea name="property_desc" rows=3 class="input-xlarge" placeholder="Please enter Description " required>{{ request.form.property_desc }}</textarea>
        </div>
    </div>

     <div class="control-group">
        <div class="controls">
            <input type="text" id="property_building_progress" name="property_building_progress" class="input-xlarge"
            placeholder="Please enter Progress %" value="{{ request.form.property_building_progress }}"
            required>
        </div>
    </div>

     <div class="control-group">
        <div class="controls">
            <input type="text" id="property_funding_progress" name="property_funding_progress" class="input-xlarge"
            placeholder="Please enter funding progress %" value="{{ request.form.property_funding_progress }}"
            required>
        </div>
    </div>

      <div class="control-group">
        <div class="controls">
            <input type="text" id="returns" name="returns" class="input-xlarge"
            placeholder="Please enter Expected returns" value="{{ request.form.returns }}"
            required>
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
            <input type="text" id="fee" name="fee" class="input-xlarge"
            placeholder="Please enter Fee" value="{{ request.form.fee }}">
        </div>
    </div>
   
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Save Property</button>
          <a href="{{ url_for('showproperties') }}">Back to list</a>
        </div>
    </div>


  </form>
{% endblock %}
