{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Add a User</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="last_nm" name="last_nm" class="input-xlarge"
            placeholder="Please enter last name" value="{{ request.form.last_nm }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
                  <input type="text" id="first_nm" name="first_nm" class="input-xlarge"
            placeholder="Please enter first name" value="{{ request.form.first_nm }}"
            required>
          </div>
    </div>

     <div class="control-group">
        <div class="controls">
            <input type="text" id="middle_nm" name="middle_nm" class="input-xlarge"
            placeholder="Please enter middle name" value="{{ request.form.middle_nm }}"
            required>
        </div>
    </div>

     <div class="control-group">
        <div class="controls">
            <input type="text" id="primary_no" name="primary_no" class="input-xlarge"
            placeholder="Please enter Phone number" value="{{ request.form.primary_no }}"
            required>
        </div>
    </div>

      <div class="control-group">
        <div class="controls">
            <input type="text" id="email" name="email" class="input-xlarge"
            placeholder="Please enter Email" value="{{ request.form.email }}"
            required>
        </div>
    </div>

       <div class="control-group">
        <div class="controls">
            <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Please enter password" value="{{ request.form.password }}"
            required>
        </div>
    </div>

     <div class="control-group">
        <div class="controls">
          <textarea name="address" rows=2 class="input-xlarge" placeholder="Please enter address " required>{{ request.form.address }}</textarea>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <select class="selectpicker" value="{{ request.form.user_flag }}" name="user_flag" id="user_flag">
            <option value="U">User</option>
            <option  value="B">Business</option>      
          </select>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="text" id="registered_name" name="registered_name" class="input-xlarge"
            placeholder="Please enter Registered Company Name" value="{{ request.form.registered_name }}">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="text" id="registration_number" name="registration_number" class="input-xlarge"
            placeholder="Please enter Registered Company Registration No" value="{{ request.form.registration_number }}">
        </div>
    </div>

   
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Save User</button>
          <a href="{{ url_for('showusers') }}">Back to list</a>
        </div>
    </div>


  </form>
{% endblock %}
