{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
    <h2>List of Campaigns</h2>
    <table class="table table-hover">
      <tr>
        <th>Campaign Name
        <th>Start Date
        <th>End Date
        <th>Budget
        <th>FrequencyCap
        <th>gender
        <th>income
        <th>agegroup
        <th>occupation
        <th>race
        <th>recency
        <th>frequency
        <th> monthly_income 
        <th> target_visitor 
        <th> distance_range 
        <th> mobile_sms 
        <th> banner 
        <th> video 
        
      {%- for camps in campaigs %}
      <tr>
        <td>{{ camps.campaign_name }}
        <td>{{ camps.start_date }}
        <td>{{ camps.end_date }}
        <td>{{ camps.budget }} 
        <td>{{ camps.frequency_cap }} 
        <td>{{ camps.gender}} 
        <td>{{ camps.income}} 
        <td>{{ camps.agegroup}}
        <td>{{ camps.occupation}}
        <td>{{ camps.race}}  
        <td>{{ camps.recency }} 
        <td>{{ camps.frequency }} 
        <td>{{ camps. monthly_income  }} 
        <td>{{ camps. target_visitor  }} 
        <td>{{ camps. distance_range  }} 
        <td>{{ camps. mobile_sms  }} 
        <td>{{ camps. banner  }} 
        <td>{{ camps. video  }} 
        </td>
      {%- endfor %}
    </table>
</div>
{% endblock %}
