{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
    <h2>All Bankers</h2>
    <table class="table table-hover">
      <tr>
        <th>#
        <th>Banker_name
        <th>Banker_Logo_Url
        <th>About Banker
      {%- for banker in bankers %}
      <tr>
        <td><a href="/bankers/{{ banker.id }}">{{ banker.id }}</a>
        <td>{{ banker.banker_name }}
        <td>{{ banker.banker_logo_url }}
        <td>{{ banker.banker_desc }}</td>
      {%- endfor %}
    </table>
    <p>
      <a href="{{ url_for('newBanker') }}" class="btn btn-large btn-primary">New Banker</a>

  
</div>
{% endblock %}
