{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
    <h2>All Assets</h2>
    <table class="table table-hover">
      <tr>
        <th>#
        <th>Asset URL
        <th>Asset Desc
        <th>Asset Type
        <th>Property ID
      {%if assets%}
      {%- for asset in assets %}
      <tr>
        <td><a href="/assets/{{ asset.id }}">{{ asset.id }}</a>
        <td>{{ asset.asset_url }}
        <td>{{ asset.asset_desc }}
        <td>{{ asset.asset_type }}
        <td>{{ asset.property_id }}</td>
      {%- endfor %}
      {% else %}
      <tr>
        <td></td>
        <td><h3> No Assets found, Please add assets to this property</h3></td>
        <td></td>
        <td></td>
      {%endif%}
    </table>
    <p>
      <a href="/newAsset/{{propertyId}}" class="btn btn-large btn-primary">New Asset</a>
      <a href='/showproperties'>Back to Property List</a>
</div>
{% endblock %}
