{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
    <h2>List of properties</h2>
    <table class="table table-hover">
      <tr>
        <th>#
        <th>Property Name
        <th>Description
        <th>Building Progress
        <th>Returns
        <th>Fee
        <th>View Assets
      {%- for prop in properties %}
      <tr>
        <td><a href="/properties/{{ prop.id }}">{{ prop.id }}</a>
        <td>{{ prop.property_nm }}
        <td>{{ prop.property_desc }}
        <td>{{ prop.property_building_progress }}
        <td>{{ prop.returns }} 
        <td>{{ prop.fee }} 
        <td><a href='/showassets/{{prop.id}}'> View Property Assets
        </td>
      {%- endfor %}
    </table>
    <p>
      <a href="{{ url_for('newProperty') }}" class="btn btn-large btn-primary">New Property</a>

  
</div>
{% endblock %}
