{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
    <h2>List of Users</h2>
    <table class="table table-hover">
      <tr>
        <th>#
        <th>First Name
        <th>Last Name
        <th>Phone Number
        <th>Email
        <th>Address
      {%- for user in users %}
      <tr>
        <td><a href="/users/{{ user.id }}">{{ user.id }}</a>
        <td>{{ user.first_nm }}
        <td>{{ user.last_nm }}
        <td>{{ user.primary_no }}
        <td>{{ user.email }} 
        <td>{{ user.address }} 
        </td>
      {%- endfor %}
    </table>
    <p>
      <a href="{{ url_for('newProperty') }}" class="btn btn-large btn-primary">New Property</a>

  
</div>
{% endblock %}
