{% extends "test1.html" %} 

{% block title %} 
Brand Statistics       
{% endblock %}
    

{% block store1 %} 

<!--<link rel='stylesheet' href='css/style.css'> -->
	
	

	    <meta charset="utf-8">
		  

		    <meta name="description" content="">
		    <meta name="author" content="">
		    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">

<!-- Le styles -->
    <link href="../static/css1/bootstrap.css" rel="stylesheet">

    
   
    

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../static/ico/apple-touch-icon-57-precomposed.png">
		    <link rel="shortcut icon" href="../static/ico/favicon.png">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-146052-10']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>











		    <!-- bootstrap css -->
		    <script type="text/javascript" src="../static/js/bluemoon/html5.js">
		    </script>

		    <link href="../static/css/bluemoon/style.css" rel="stylesheet">
		    <!--[if lte IE 7]>
		    <script src="css/icomoon-font/lte-ie7.js">
		    </script>
		    <![endif]-->
		    <link href="../static/css/bluemoon/main.css" rel="stylesheet"> <!-- Important. For Theming change primary-color variable in main.css  -->
		    <link href="../static/css/bluemoon/charts-graphs.css" rel="stylesheet">
		    









   

    <!-- Core CSS - Include with every page -->
   
    <link href="../static/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="../static/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="../static/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="../static/css/sb-admin.css" rel="stylesheet">




<link href="../static/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">






  <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>


{% endblock %}
</head>

<body>
{% block store2 %}

{% endblock %}

{% block store3 %}

    <div id="wrapper">
            <div class="navbar-default navbar-static-side" role="navigation">
               
                    <ul class="nav" id="side-menu">               
                      <!-- <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>-->
                         <div class="brand-inputs">
				<input type="text" placeholder="Enter your brand key word" class="compareinput" id="brand1"   />
				<input type="text" placeholder="Enter competition brand key word" class="compareinput" id="brand2"/>
				<input type="button" value="Compare" id="compare"/>
			    </div>

		</ul>               
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        <div id="page-wrapper">
              		   
	
                           <div class="sub-nav">
				<ul>
				    <li>
				    <li><a href="" class="heading">Social Dashboard</a></li>
				    <a href="#segmentTab">
					Facebook
				    </a>
				    </li>
				    <li>
				    <a href="#usersTab">
					Twitter
				    </a>
				    </li>      
				</ul>         

			    </div>                      
			    
			    
			    

			    <div class="dashboard-wrapper">
				<div class="left-sidebar">
				    <!-- <h1 id="segmentTab"> Facebook Analytics</h1> -->


				    <div class='newStat' style="display:none">
					<!-- <h1 id="segmentTab"> Facebook Analytics</h1> -->
					<div class="row-fluid" >              
					    <div class="span6">
						<div class="widget no-margin">
						    <div class="widget-header">i
							<div class="title">
							    <span class="mybrand"></span> -Likes by Lifetime<a id="geoChart">!</a>
							</div>
							<span class="tools">
							    <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
							</span>
						    </div>
						    
							<div id="fbLikesByLifetimeBrand1">
							</div>
						    
						</div>
					    </div>

					    <div class="span6">
						<div class="widget no-margin">
						    <div class="widget-header">
							<div class="title">
							    <span class="comparebrand"></span> - Likes by Lifetime<a id="geoChart"></a>
							</div>
							<span class="tools">
							    <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
							</span>
						    </div>
						    <div class="widget-body">
							<div id="fbLikesByLifetimeBrand2">
							</div>
						    </div>
						</div>
					    </div>          


					</div>

					<hr class="hr-stylish-2">


					<div class="row-fluid">  
					    <div class="span6">
						<div class="widget no-margin">
						    <div class="widget-header">
							<div class="title">
							    <span class="mybrand"></span>- Mentions on Facebook- Dail<a id="geoChart">y</a>
							</div>
							<span class="tools">
							    <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
							</span>
						    </div>
						    <div class="widget-body">
							<div id="fbTalkingByDayBrandDaily1">
							</div>
						    </div>
						</div>
					    </div> 

					    <div class="span6">
						<div class="widget no-margin">
						    <div class="widget-header">
							<div class="title">
							    <span class="comparebrand"></span> - Mentions on Facebook-Dail<a id="geoChart">y</a>
							</div>
							<span class="tools">
							    <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
							</span>
						    </div>
						    <div class="widget-body">
							<div id="fbTalkingByDayBrandDaily2">
							</div>
						    </div>
						</div>
					    </div>           

					</div>



				
					<hr class="hr-stylish-2">
					<div class="row-fluid">  
					    <div class="span6">
						<div class="widget no-margin">
						    <div class="widget-header">
							<div class="title">
							    <span class="mybrand"></span>- Mentions on Facebook-Weekl<a id="geoChart">y</a>
							</div>
							<span class="tools">
							    <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
							</span>
						    </div>
						    <div class="widget-body">
							<div id="fbTalkingByDayBrandWeekly1">
							</div>
						    </div>
						</div>
					    </div>          


					    <div class="span6">
						<div class="widget no-margin">
						    <div class="widget-header">
							<div class="title">
							    <span class="comparebrand"></span> -  Mentions on Facebook-Weekl<a id="geoChart">y</a>
							</div>
							<span class="tools">
							    <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
							</span>
						    </div>
						    <div class="widget-body">
							<div id="fbTalkingByDayBrandWeekly2">
							</div>
						    </div>
						</div>
					    </div>          


					</div>
					<hr class="hr-stylish-2">
					<div class="row-fluid">  
					    <div class="span6">
						<div class="widget no-margin">
						    <div class="widget-header">
							<div class="title">
							    <span class="mybrand"></span>- Mentions on Facebook-Monthl<a id="geoChart">y</a>
							</div>
							<span class="tools">
							    <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
							</span>
						    </div>
						    <div class="widget-body">
							<div id="fbTalkingByDayBrandMonthly1">
							</div>
						    </div>
						</div>
					    </div>          


					    <div class="span6">
						<div class="widget no-margin">
						    <div class="widget-header">
							<div class="title">
							    <span class="comparebrand"></span> -  Mentions on Facebook-Monthl<a id="geoChart">y</a>
							</div>
							<span class="tools">
							    <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
							</span>
						    </div>
						    <div class="widget-body">
							<div id="fbTalkingByDayBrandMonthly2">
							</div>
						    </div>
						</div>
					    </div>          
					</div>
				    
				    <hr class="hr-stylish-1">

				    <div class="row-fluid" >
					<div class="span6">
					    <div class="widget no-margin">
						<div class="widget-header">
						    <div class="title">
							User Participation on Page by Gende<a id="pieChart">r</a>
						    </div>
						    <span class="tools">
							<a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
						    </span>
						</div>
						<div class="widget-body">
						    <div id="chart_div"></div>
						</div>
					    </div>
					</div>                  
				      </div>
				    </div>
				    <hr class="hr-stylish-1">              
				    <!-- ******************************************************************************************************************** -->
					<hr class="hr-stylish-1">
				    <div class='newStat' id="usersTab">
					<!-- User Segmentation-->
					<h1> Twitter</h1>
					<div class="row-fluid">  
					    <div class="span6">
						<div class="widget no-margin">
						    <div class="widget-header">
							<div class="title">
							    <span class="mybrand"></span>Brand 1 - Sentiment Value</a>
							</div>
							<span class="tools">
							    <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
							</span>
						    </div>
						    <div class="widget-body">
							<div id="pie1">
							</div>
						    </div>
						</div>
					    </div>          


					    <div class="span6">
						<div class="widget no-margin">
						    <div class="widget-header">
							<div class="title">
							    <span class="comparebrand"></span>Brand 2 - Sentiment Value</a>
							</div>
							<span class="tools">
							    <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
							</span>
						    </div>
						    <div class="widget-body">
							<div id="pie2">
							</div>
						    </div>
						</div>
					    </div>          
					</div>
				  
					<hr class="hr-stylish-1">


					<div class="row-fluid">  
					    <div class="span6">
						<div class="widget no-margin">
						    <div class="widget-header">
							<div class="title">
							    <span class="mybrand"></span>Brand 1 - Good Tweets / Bad Tweets</a>
							</div>
							<span class="tools">
							    <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
							</span>
						    </div>
						    <div class="widget-body">
							<div class="span6">
							    <div id="tweet1">
							    </div>
							</div>          
							<div class="span6">
							    <div id="tweettry">
							    </div>
							</div>          
						    </div>
						</div>
					    </div>          


					    <div class="span6">
						<div class="widget no-margin">
						    <div class="widget-header">
							<div class="title">
							    <span class="comparebrand"></span>Brand 2 - Good Tweets / Bad Tweets</a>
							</div>
							<span class="tools">
							    <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
							</span>
						    </div>
						    <div class="widget-body">
							<div class="span6">
							    <div id="tweet2">
							    </div>
							</div>          
							<div class="span6">
							    <div id="tweettry2">
							    </div>
							</div>          
						    </div>
						</div>
					    </div>          
					</div>


				<hr class="hr-stylish-1">
					<div class="row-fluid">  
					    <div class="span6">
						<div class="widget no-margin">
						    <div class="widget-header">
							<div class="title">
							    <span class="mybrand"></span>Brand 1 - Target Words</a>
							</div>
							<span class="tools">
							    <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
							</span>
						    </div>
						    <div class="widget-body">
							<div id="tweetcount1">
							</div>
						    </div>
						</div>
					    </div>          


					    <div class="span6">
						<div class="widget no-margin">
						    <div class="widget-header">
							<div class="title">
							    <span class="comparebrand"></span>Brand 2 - Target Words</a>
							</div>
							<span class="tools">
							    <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
							</span>
						    </div>
						    <div class="widget-body">
							<div id="tweetcount2">
							</div>
						    </div>
						</div>
					    </div>          
					</div>








				    <hr class="hr-stylish-1">
				    <div class="row-fluid">  
					<div class="span6">
					    <div class="widget no-margin">
						<div class="widget-header">
						    <div class="title">
							<span class="mybrand"></span>Brand 1 Top 10 Hash Tags</a>
						    </div>
						    <span class="tools">
							<a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
						    </span>
						</div>
						<div class="widget-body">
						    <div id="tag1">

						    </div>
						</div>
					    </div>
					</div>          


					<div class="span6">
					    <div class="widget no-margin">
						<div class="widget-header">
						    <div class="title">
							<span class="comparebrand"></span>Brand 2 Top 10 Hash tags</a>
						    </div>
						    <span class="tools">
							<a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
						    </span>
						</div>
						<div class="widget-body">
						    <div id="tag2">
						    </div>
						</div>
					    </div>
					</div>          
				    </div>
			

 				<hr class="hr-stylish-1">
				    <div class="row-fluid">  
					<div class="span6">
					    <div class="widget no-margin">
						<div class="widget-header">
						    <div class="title">
							<span class="mybrand"></span>Brand 1 - Brand Tweet Data</a>
						    </div>
						    <span class="tools">
							<a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
						    </span>
						</div>
						<div class="widget-body">
						    <div id="tweet1_brand">
		
								
						    </div>
						</div>
					    </div>
					</div>          


					<div class="span6">
					    <div class="widget no-margin">
						<div class="widget-header">
						    <div class="title">
							<span class="comparebrand"></span>Brand 2 - Brand Tweet Data</a>
						    </div>
						    <span class="tools">
							<a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
						    </span>
						</div>
						<div class="widget-body">
						    <div id="tweet2_brand">
								
						    </div>
						</div>
					    </div>
					</div>          
				    </div>

				<hr class="hr-stylish-1">
				    <div class="row-fluid">  
					<div class="span6">
					    <div class="widget no-margin">
						<div class="widget-header">
						    <div class="title">
							<span class="mybrand"></span>Brand 1 - Brand Tweet Data</a>
						    </div>
						    <span class="tools">
							<a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
						    </span>
						</div>
						<div class="widget-body">
						    <div id="tweet1_user">
		
								
						    </div>
						</div>
					    </div>
					</div>          


					<div class="span6">
					    <div class="widget no-margin">
						<div class="widget-header">
						    <div class="title">
							<span class="comparebrand"></span>Brand 2 - Brand Tweet Data</a>
						    </div>
						    <span class="tools">
							<a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
						    </span>
						</div>
						<div class="widget-body">
						    <div id="tweet2_user">
								
						    </div>
						</div>
					    </div>
					</div>          
				    </div>		
					
				    </div>

			    </div>	

			    <!--end User segmentation-->
			    <hr class="hr-stylish-1">

















			    <!-- end barchart Traffic -->

			    <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
			</div>


			<!-- begin right side bar-->

		    </div>
		
		<!--/.fluid-container-->
	    
           
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->



 

    



 <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap-transition.js"></script>
    <script src="static/js/bootstrap-alert.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/bootstrap-scrollspy.js"></script>
    <script src="static/js/bootstrap-tab.js"></script>
    <script src="static/js/bootstrap-tooltip.js"></script>
    <script src="static/js/bootstrap-popover.js"></script>
    <script src="static/js/bootstrap-button.js"></script>
    <script src="static/js/bootstrap-collapse.js"></script>
    <script src="static/js/bootstrap-carousel.js"></script>
    <script src="static/js/bootstrap-typeahead.js"></script>
    <script src="static/js/bootstrap-affix.js"></script>

    <script src="static/js/holder/holder.js"></script>
    <script src="static/js/google-code-prettify/prettify.js"></script>

    <script src="static/js/application.js"></script>


    <!-- Analytics
    ================================================== -->
    <script>
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>


	    <script src="static/js/bluemoon/jquery.min.js">
	    </script>
	    <script src="static/js/bluemoon/bootstrap.js">
	    </script>
	    <script src="static/js/bluemoon/jquery.scrollUp.js">
	    </script>

	    <!-- Google Visualization JS -->
	    <script type="text/javascript" src="https://www.google.com/jsapi">
	    </script>

	    <!-- Easy Pie Chart JS -->
	    <script src="static/js/bluemoon/jquery.easy-pie-chart.js">
	    </script>

	    <!-- Sparkline JS -->
	    <script src="static/js/bluemoon/jquery.sparkline.js">
	    </script>

	    <!-- Custom JS -->
	    <script src="static/js/bluemoon/custom.js">
	    </script>
	    <script src="static/js/myapp-fb.js"></script>

	    <script type="text/javascript">
		//ScrollUp
	    $(function () {
		    $.scrollUp({
scrollName: 'scrollUp', // Element ID
topDistance: '300', // Distance from top before showing element (px)
topSpeed: 300, // Speed back to top (ms)
animation: 'fade', // Fade, slide, none
animationInSpeed: 400, // Animation in speed (ms)
animationOutSpeed: 400, // Animation out speed (ms)
scrollText: 'Scroll to top', // Text for element
activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
});
		    });

$(document).ready(function () {

	});




    </script>





{% endblock %}
</body>

</html>

