<!doctype html>
<title>{% block title %}        
{% endblock %}</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
body {
	padding-top: 60px;
	padding-bottom: 100px;

}
</style>
<link href="../static/css1/bootstrap.css" rel="stylesheet">
<link href="../static/css1/modern-business.css" rel="stylesheet">
<link href="../static/font-awesome1/css/font-awesome.min.css" rel="stylesheet">
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{% block store1 %}{% endblock %}
{% block social1 %}{% endblock %}
<script src="../static/js1/bootstrap.js"></script>
{% block store2 %}{% endblock %}
{% block social2 %}{% endblock %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) 
		<a class="navbar-brand" href="index.html">Modern Business</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Instore Media<b class="caret"></b></a>
                        <ul class="dropdown-menu">
			   <li><a href="http://127.0.0.1:5000/store1">Dashboard</a>
                            </li>
                        
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                         <li><a href="http://idisplay-isotope.rhcloud.com/dashboard">Dashboard</a>
                            </li>
                            <li><a href="http://idisplay-isotope.rhcloud.com/socialdashboard">Social Dashboard</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mobile Media<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        </ul>
                    </li>  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

        <!-- /.container -->
    </nav>
{% block social3 %}{% endblock %}
{% block body2 %} {% endblock %}

{% block store3 %}{% endblock %}


<div id="main" class="container">


	
	<hr>
	<footer id="footer" style="font-size:0.8em;color:#e1dad3;">
				<p>&copy; RealestateShares</p>
				All content, data and endpoints in this API are sole property of Edulearn, and protected by secure authentication. </br/>		
		If you are a eduLearn Developer, please contact the admin for auth details & API methods.</br/>

</div>
{% block social4 %}{% endblock %}
