{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Create New Banker/Edit Banker</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="title" name="title" class="input-xlarge"
            placeholder="Please give title to todo item" value="{{ banker.banker_name }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <textarea name="text" rows=3 class="input-xlarge" placeholder="describle the todo item" required>{{ banker.banker_logo_url }}</textarea>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
           <textarea name="desc" rows=3 class="input-xlarge" placeholder="describle the todo item" required>{{ banker.banker_desc }}</textarea>
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Update Banker</button>
          <a href="{{ url_for('showbankers') }}">Back to list</a>
        </div>
    </div>
  </form>
{% endblock %}
